/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: 


*/

body {
    margin: 1px;
    text-align: center;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    font-weight: bolder;
    box-sizing: border-box;
    
}

img {
    width: 200px;
    border-radius: 50%;
}
.hometown-city {
    background-image: url("nairobi-town.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bolder;
    padding: 100px;
    margin-bottom: 0;
    
    
}
.hometown-title {
    background-color: #457B9D;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0.89;
    margin: 20px auto;

}
.hometown-nature {
    margin: 0 auto;
    background-color: #00008B;
    opacity: 0.7;
    color: #ffffff;
    padding: 5px 5px;
    border-radius: 20px;
    
}
.activities-section{
    background-color: goldenrod;
    color: white;

    
}
.container-wrap {
    display: flex;
    justify-content: center;;
    align-items: center;
}
.container-wrap:hover {
    background-color: green;
    font-size: 25px;
}
.activities {
    text-align: center;
    margin: 20px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container-wrap {
    display: block;
  }
  .guide-container {
        width: 350px;
    }
}
.guide-container {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #457B9D;
    animation: mymove 10s infinite;
    color: #ffffff;   
    border-bottom: 6px solid darkgray;
    border-radius: 10px;
    
}
@keyframes mymove {
    from {background-color: #457B9D;}
    to {background-color: green;}
}
.avatar {
    width: 150px;
    margin-right: 30px;
    border-radius: 50%;
}
.guide {
    font-style: italic;
}
